<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">		
		
		<link rel="stylesheet" type="text/css" href="/ext/resources/css/ext-all.css">
		<script type="text/javascript" src="/ext/ext-custom.js"></script>
		
		<script type="text/javascript">
			Test.Run.Harness.Browser.Multi.my.configure({
				title : [% title %]
			});
			
			Test.Run.Harness.Browser.Multi.my.start(
				[% FOREACH url IN urls %]
					'[% url %]'[% UNLESS loop.last; %],[% END %]
				[% END %]
			)
		</script>

	</head>
	
	<body>
	</body>
</html>
